@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1025px) {
  img:not(:first-child) {
    width: 100%;
  }
}

body, dt {
  font-family: "Montserrat", "游ゴシック体", sans-serif;
  color: #000000;
}

dd {
  font-family: "Montserrat", "游ゴシック体", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1025px) {
  dd {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
  }
}

span, time {
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
}

header {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  line-height: 90px;
}
@media screen and (max-width: 1025px) {
  header {
    padding-left: 21px;
  }
}

.drawer-hamburger {
  display: none;
}

.drawer--right .drawer-nav {
  right: -80%;
}

.drawer-nav {
  position: static;
  width: auto;
  height: auto;
  background-color: transparent;
  overflow: visible;
}

.drawer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drawer-menu-item:hover {
  text-decoration: none;
}

.drawer-menu li .drawer-menu-item {
  position: relative;
  display: inline;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.heading3 {
  font-size: 24px;
  font-weight: bold;
}

.siteLogo {
  height: 80px;
  line-height: 145px;
  padding-left: 1.5rem;
}
@media screen and (max-width: 1025px) {
  .siteLogo {
    position: fixed;
  }
}

.drawer-menu li:last-child {
  padding-right: 1.5rem;
}
.drawer-menu li:not(:last-child) {
  padding-right: 3.25rem;
}
.drawer-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.drawer--right.drawer-open .drawer-menu li a::after {
  background-color: #000000;
}

.drawer-menu li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

/* ----------firstContent ---------- */
@media screen and (max-width: 1025px) {
  .wrapper {
    overflow: hidden;
  }
}
.firstContent {
  position: relative;
  height: 100vh;
}

.firstVisual {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1025px) {
  .firstVisual {
    background-position: 38%;
  }
}

.siteTheme {
  position: absolute;
  top: 53%;
  left: 11%;
  color: #FFFFFF;
}
@media screen and (max-width: 1025px) {
  .siteTheme {
    top: 23%;
    left: 7%;
  }
}

.siteTitle {
  margin-bottom: 24px;
  line-height: 1.25;
  font-size: 64px;
  font-weight: bold;
}
@media screen and (max-width: 1025px) {
  .siteTitle {
    font-size: calc(2.5rem + ((1vw - 3.75px) * 3.6923));
  }
}

.siteDescription {
  letter-spacing: 0.05em;
  line-height: 1.333;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 1025px) {
  .siteDescription {
    width: 62%;
    font-size: calc(1rem + ((1vw - 3.75px) * 1.2308));
  }
  .siteDescription:nth-last-child(1) {
    display: none;
  }
}

.arrowIcon {
  position: absolute;
  top: 93%;
  left: 50%;
  font-size: 36px;
  color: #FFFFFF;
}
@media screen and (max-width: 1025px) {
  .arrowIcon {
    color: #FFFFFF;
  }
}

/* ----------main--------- */
main {
  max-width: 1004px;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  main {
    max-width: none;
    width: auto;
  }
}

/* ----------About---------- */
.contentTitle-heading2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.02em;
  font-size: 48px;
  font-weight: bold;
}
@media screen and (max-width: 1025px) {
  .contentTitle-heading2 {
    font-size: calc(2.375rem + ((1vw - 3.75px) * 1.5385));
  }
}
.contentTitle-heading2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 69px;
  height: 4px;
  background-color: #000000;
}
.contentTitle-heading2.price::after {
  content: "";
  position: absolute;
  left: 43%;
  bottom: 0;
  width: 69px;
  height: 4px;
  background-color: #000000;
}

.contentTitle-description {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 1025px) {
  .contentTitle-description {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
  }
}

.secondContent {
  margin-top: 152px;
}
@media screen and (max-width: 1025px) {
  .secondContent {
    margin: 103px 4% 0 4%;
  }
}

.secondContent-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secondContent-informationInner {
  width: 409px;
  padding: 67px 68px 64px 58px;
  border: solid 1px #707070;
  background-color: #F2F2F2;
}
@media screen and (max-width: 1025px) {
  .secondContent-informationInner {
    width: auto;
    padding: 0 68px 22px 15px;
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 1025px) {
  .secondContent-image {
    margin: 0 auto;
  }
}
.secondContent-imageInner p {
  width: 494px;
}
@media screen and (max-width: 1025px) {
  .secondContent-imageInner p {
    max-width: 494px;
    width: auto;
  }
}

.heading3.concept {
  margin: 43px 0 15px 0;
}
@media screen and (max-width: 1025px) {
  .heading3.concept {
    font-size: calc(1.25rem + ((1vw - 3.75px) * 0.6154));
  }
}

.conceptDescription {
  line-height: 2;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  opacity: 0.2;
}
@media screen and (max-width: 1025px) {
  .conceptDescription {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
    color: #000000;
    opacity: 1;
  }
}

/* ----------Item---------- */
.thirdContent {
  margin: 0 auto;
  margin-top: 147px;
}
@media screen and (max-width: 1025px) {
  .thirdContent {
    margin: 126px 4% 0 4%;
  }
  .thirdContent.heading3 {
    margin-left: 0;
  }
}

.thirdContentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;
}
@media screen and (max-width: 1025px) {
  .thirdContentItem {
    display: block;
  }
}

.thirdContentItemImage {
  width: 324px;
  margin: 0;
}
@media screen and (max-width: 1025px) {
  .thirdContentItemImage {
    max-width: 494px;
    width: auto;
    margin: 0 auto;
  }
  .thirdContentItemImage:not(:first-child) {
    margin-top: 30px;
  }
}

.thirdContentItemImageInner {
  width: 324px;
}
@media screen and (max-width: 1025px) {
  .thirdContentItemImageInner {
    width: auto;
  }
}

.thirdContentItemName {
  display: block;
  margin-top: 23px;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 1025px) {
  .thirdContentItemName {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
  }
}

.thirdContent.heading3 {
  margin-top: 34px;
  line-height: 1.333;
  font-size: 23px;
}

.thirdContent-description {
  margin-top: 23px;
  line-height: 1.75;
  font-size: 16px;
}
@media screen and (max-width: 1025px) {
  .thirdContent-description {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
  }
}
.thirdContent-description.middle {
  text-align: center;
}

/* ----------Price---------- */
.fourthContent {
  position: relative;
  z-index: 0;
  margin-top: 190px;
}
@media screen and (max-width: 1025px) {
  .fourthContent {
    margin-top: 43%;
  }
}

.fourthContent-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
@media screen and (max-width: 1025px) {
  .fourthContent-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fourthContent-priceList {
  width: 494px;
}

.fourthContent-priceListInner {
  position: relative;
  z-index: 1;
  padding-bottom: 67.4px;
  border: solid 4px #A38787;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1025px) {
  .fourthContent-priceListInner {
    position: relative;
    margin: 0 4%;
    margin-top: 2%;
    padding-bottom: 6%;
  }
}

.contentTitle-heading2.price {
  margin-top: 55px;
}
@media screen and (max-width: 1025px) {
  .contentTitle-heading2.price {
    margin-top: 15%;
  }
  .contentTitle-heading2.price::after {
    left: 43%;
  }
}

.fourthContent-priceMenu {
  margin-top: 81px;
}
.fourthContent-priceMenu table {
  text-align: left;
  margin: 0 auto;
  line-height: 3;
  font-size: 16px;
  font-weight: bold;
  font-family: "游ゴシック体";
  width: 324px;
  border-collapse: separate;
  border-spacing: 0;
}
.fourthContent-priceMenu table tr:not(:first-child) {
  background-size: 8px 1px;
  background-image: linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 8px);
  background-repeat: repeat-x;
}
.fourthContent-priceMenu table tr th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fourthContent-priceMenu table tr td {
  text-align: end;
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
}
@media screen and (max-width: 1025px) {
  .fourthContent-priceMenu {
    margin-top: 15%;
  }
  .fourthContent-priceMenu table {
    width: 70%;
  }
  .fourthContent-priceMenu table tr th {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
  }
}

.fourthContent-priceImage {
  position: absolute;
  right: 0;
  width: 663px;
  margin-top: 93px;
}
@media screen and (max-width: 1025px) {
  .fourthContent-priceImage {
    position: absolute;
    right: auto;
    width: auto;
    margin-top: 3%;
    padding-left: 0;
  }
}

.fourthContent-priceImageInner {
  width: 663px;
}
@media screen and (max-width: 1025px) {
  .fourthContent-priceImageInner {
    width: auto;
  }
}

/* ----------Blog---------- */
.contentBlog {
  margin-top: 600px;
  background-color: #F2F2F2;
}
@media screen and (max-width: 1025px) {
  .contentBlog {
    margin-top: 41%;
  }
}

.fifthContent {
  max-width: 1004px;
  margin: 0 auto;
  padding-top: 134px;
  padding-bottom: 136px;
  background-color: #F2F2F2;
}
@media screen and (max-width: 1025px) {
  .fifthContent {
    max-width: none;
    margin: 85px 4% 96px 4%;
  }
}

.fifthContentBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 62px;
}
.fifthContentBlog li {
  width: 324px;
}
.fifthContentBlog li:last-child {
  display: none;
}
@media screen and (max-width: 1025px) {
  .fifthContentBlog {
    margin-top: 40.4px;
  }
  .fifthContentBlog li {
    width: 48%;
    padding-top: 21.6px;
  }
  .fifthContentBlog li:last-child {
    display: block;
  }
}

.fifthContentBlogData {
  margin-top: 29px;
}

.fifthContentBlogData-innerTime time {
  margin-right: 16px;
  font-weight: bold;
  font-family: "Montserrat";
}
@media screen and (max-width: 1025px) {
  .fifthContentBlogData-innerTime time {
    margin-right: 12px;
  }
}
.fifthContentBlogData-innerTime span {
  letter-spacing: 0.01em;
  color: #707070;
}

.fifthContentBlogData-innerTitle {
  margin-top: 10px;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 1025px) {
  .fifthContentBlogData-innerTitle {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
  }
}

/* ----------address---------- */
address {
  max-width: 1004px;
  margin: 0 auto;
  margin-top: 150px;
}
@media screen and (max-width: 1025px) {
  address {
    max-width: none;
    margin: 97px 4% 0 4%;
  }
}

.sixthContentAccess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 93px;
}
@media screen and (max-width: 1025px) {
  .sixthContentAccess {
    margin-top: 44px;
  }
  .sixthContentAccess .sixthContentRight {
    margin-top: 130px;
  }
}

address .sixthContent .sixthContentAccess .sixthContentLeft dt:not(:nth-of-type(1)) {
  display: block;
  margin-top: 29px;
}

@media screen and (max-width: 1025px) {
  .heading3.access {
    font-size: calc(1.125rem + ((1vw - 3.75px) * 0.9231));
  }
}
.information.access.m13 {
  display: block;
  margin-top: 13px;
}
.information.access.m10 {
  display: block;
  margin-top: 10px;
}

.sixthContentRightPc {
  display: block;
  margin-left: 138px;
}
@media screen and (max-width: 1025px) {
  .sixthContentRightPc {
    display: none;
  }
}

.sixthContentRightSp {
  display: none;
}
@media screen and (max-width: 1025px) {
  .sixthContentRightSp {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  .sixthContentRightSp iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.sixthContentBottom {
  max-width: 634px;
  margin-top: 153px;
}
@media screen and (max-width: 1025px) {
  .sixthContentBottom {
    max-width: none;
    margin-top: 37.2px;
  }
  .sixthContentBottom ol li {
    font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6154));
  }
  .sixthContentBottom ol li:last-child {
    display: none;
  }
}

.sixthContentBottom-inner {
  letter-spacing: 0.05em;
  line-height: 1.714;
}

.sixthContentBottom .sixthContentBottom-inner:nth-of-type(1), .sixthContentBottom .sixthContentBottom-inner:not(:nth-of-type(1)) {
  margin-top: 31px;
}

/* ----------footer--------- */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 219px;
  background-color: #6F6565;
}
@media screen and (max-width: 1025px) {
  footer {
    text-align: center;
    margin-top: 43px;
  }
  footer .footerContent {
    width: 100%;
  }
}
footer .footerLogo {
  padding: 32px 0;
  letter-spacing: 0.05em;
  line-height: 2.5;
  font-size: 80px;
  font-weight: bold;
  color: #FFFFFF;
}
@media screen and (max-width: 1025px) {
  footer .footerLogo {
    font-size: calc(2.5rem + ((1vw - 3.75px) * 6.1538));
  }
}

/* ----------hamburger button---------- */
@media screen and (max-width: 1025px) {
  .drawer-hamburger {
    display: block;
    margin: 0;
    background-color: #FFFFFF;
  }
  .drawer-hamburger:hover {
    cursor: pointer;
    background-color: #FFFFFF;
  }

  .drawer--right.drawer-open .drawer-hamburger {
    right: 0;
    background-color: rgba(255, 255, 255, 0);
  }

  .drawer-overlay {
    position: static;
    background-color: transparent;
  }

  .drawer-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .drawer-menu {
    display: block;
    padding: 100px 0 0 15%;
    line-height: 4;
  }
  .drawer-menu li .drawer-menu-item {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
  }

  .siteTitle {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .siteTitle.change {
    color: #000000;
  }
}
/*# sourceMappingURL=style.css.map */