@forward "../config/variables";
@use "../config/variables" as var;
@forward "../mixin/madia";
@use "../mixin/madia";



/* ----------hamburger button---------- */

@include madia.deviceBreakPoint() {
  .drawer-hamburger {
    display: block;
    margin: 0;
    background-color: var.$colorWhite;
    
    &:hover {
      cursor: pointer;
      background-color: var.$colorWhite;
    }
  }
  
  .drawer--right.drawer-open .drawer-hamburger {
    right: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .drawer-overlay {
    position: static;
    background-color: transparent;
  }
  
  .drawer-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .drawer-menu {
    display: block;
    padding: 100px 0 0 15%;
    line-height: 4;
    
    li .drawer-menu-item {
      color: var.$colorBlack;
      font-size: 24px;
      font-weight: 400;
    }
  }
  
  .siteTitle {
    transition: .3s;
    
    &.change {
      color: var.$colorBlack;
    }
  }
}